//
//    Copyright (C) Microsoft.  All rights reserved.
//

#include <windows.h>

#define VER_FILEDESCRIPTION_STR     "Sample application"
#define VER_INTERNALNAME_STR        "exe.exe"
#define	VER_FILETYPE	            VFT_APP
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN

#include "undocked.ver"
#include "localmsg.rc"
