//
//    Copyright (C) Microsoft.  All rights reserved.
//

#include <windows.h>

#define VER_FILEDESCRIPTION_STR     "Sample library"
#define VER_INTERNALNAME_STR        "dll.dll"
#define	VER_FILETYPE	            VFT_DLL
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN

#include "undocked.ver"
