//
//    Copyright (C) Microsoft.  All rights reserved.
//

#include <windows.h>

#define VER_FILEDESCRIPTION_STR     "Sample driver"
#define VER_INTERNALNAME_STR        "drv.sys"
#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_NETWORK

#include "undocked.ver"
