name: Build

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
    Build-2019:
      needs: []
      runs-on: windows-2019
      strategy:
        fail-fast: false
        matrix:
          configuration: [Debug, Release]
          platform: [x86, x64, ARM64]
      steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce
      - name: Nuget Restore
        run: nuget.exe restore templates/templates.sln
      - name: Build
        run: msbuild templates/templates.sln /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}
    Build:
      needs: []
      runs-on: windows-latest
      strategy:
        fail-fast: false
        matrix:
          configuration: [Debug, Release]
          platform: [x86, x64, ARM64]
      steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce
      - name: Nuget Restore
        run: nuget.exe restore templates/templates.sln
      - name: Build
        run: msbuild templates/templates.sln /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}
